@import url('https://fonts.cdnfonts.com/css/varuna');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-synthesis:none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* El resto de tus reglas CSS */
body {
  font-family: 'Roboto', sans-serif;
}

.sub-menu {
  overflow: hidden;
  transition: height 300ms;
}

.h-full {
  height: 100vh
}