@tailwind base;
@tailwind components;
@tailwind utilities;

/* El resto de tus reglas CSS */
body {
  font-family: 'Roboto', sans-serif;
}

.sub-menu {
  overflow: hidden;
  transition: height 300ms;
}